doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HTML CSS Master
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="./main.css")
    body 
        .tour-list-container
            .tour-list
                .tour
                    .tour-top
                        img.tour-image(src='./images/martyna-bober-yd1_Tupnls4-unsplash.png', alt='this-is-image')
                        // src để dẫn hình ảnh, nếu hình ảnh lỗi hoặc sai đường dẫn thì hiện alt
                        span.tour-price From $40
                    .tour-content
                        h3.tour-tittle Thailands Ayutthaya Temples Cruise from Bangkok Thailands Ayutthaya Temples Cruise from Bangkok Thailands Ayutthaya Temples Cruise from Bangkok
                        .tour-rating
                            .tour-reviews
                                .tour-star
                                img(src='./images/Shape.png', alt='tour-rating')
                                .tour-review-count
                                span 4.8 (12 reviews)
                            span.tour-duration Duration: 9 hours
                        a.tour-button(href='https://act.hoyolab.com/bbs/event/signin/zzz/e202406031448091.html?act_id=e202406031448091&hyl_auth_required=true&hyl_presentation_style=fullscreen&utm_campaign=checkin&utm_id=8&utm_medium=tools&utm_source=hoyolab&lang=vi-vn&bbs_theme=dark&bbs_theme_device=1', target='_blank', rel='noopener noreferrer') Tours Price $61


