include ./pug/mixins

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HTML CSS Master
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="./main.css")
    body 
        .tour-list-container
            .tour-list
                +tourItem("./images/martyna-bober-yd1_Tupnls4-unsplash.png", "From $40", "Thailands Ayutthaya Temples Cruise from Bangkok", 4.8, 20, "9 hours", 55)
                +tourItem("./images/martyna-bober-yd1_Tupnls4-unsplash.png", "From $60", "FLoating Markets Day Trip from Bangkok", 4.5, 15, "15 hours", 88)
                +tourItem("./images/martyna-bober-yd1_Tupnls4-unsplash.png", "From $60", "FLoating Markets Day Trip from Bangkok", 4.5, 15, "15 hours", 88)
                


